
<style>

h1 {
  text-align: center;
  background-color: lightblue;
  font-family: arial;
  font-size: 50px;
}
h2{
  text-align: center;
  font-family: arial;
}
p{
  text-align: left;
  font-size: 18px;
  position: fixed;
  font-family:  arial;
  width: 50em;
  right: 190px;
  margin: 100px auto;
  bottom: 0px;
}
.sidebar{
  position: fixed;
  background-color: lightblue;
  top: 50px;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 600px;
}
p1{
	text-align: left;
	position: fixed;
	font-size: 18px;
	font-family: arial;
	width: 25em;
	right: 30px;
	bottom: 230px;
}	
.sidebar a{
  display: block;
  padding-bottom: 10px;
  background-color: lightblue;
  font-size: 24px;
  text-decoration: none;
  font-family: arial;
  color: black;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 4px;
}
.sidebar a:hover{
  background-color: grey;
  color: white;
}
</style>

<h1> Frequently Asked Questions </h1>

<p>
    <font size="+2"><b>Frequently asked questions</b></font>
	<br>
	<br>
	<br>
	Q: I have forgotten my password, what do i do?
	<br>
	<br>
	A: Go to the login section of the website and click<br>
	the I forgot my password link 
	<br>
	<br>
	<br>
	Q: How do i get to my account settings? 
	<br> 
	<br>
	A: In the top right-hand corner of the website, all page <br>
	will have a link to access your account setting at anytime. 
	<br>
	<br>
	<br>
	Q: Can i change my account type? 
	<br>
	<br> 
	A: Yes, you will have to contact one of our suppoer teams by<br>
	looking at the contact us section to the right-hand side of this page
	<br>
	<br>
	<br>
</p>

<p1>
	<font size="+2"><b>Contact us</b></font>
	<br>
	<br>
	<br>
	Phone number daytime queries <br>
	07-1283-1823 (9am - 4pm)
	<br>
	<br>
	Email:<br>
	<a href=" ">
	inquriries@smartcitybrisbane.com</a>
	<br> 
	<br>
	<br>
	IT support desk (9am - 5pm) 
	<br> 
	07-1283-1823
	<br>
	<br>
	Email:
	<br>
	<a href=" ">
	supportdeskIT@smartcitybrisbane.com</a>
	</p1>


<ul class='sidebar'>
<h2> Content </h2>
<a href="/login"> Login </a>
<a href="/register"> Register Account </a>
<a href="/help/"> Help </a>
</ul>
