{% block content %}
<style>
h2 {
  text-align: center;
}
div {
  text-align: center;
}
#Box {
  text-align: center;
}

form {
  text-align: center;
}


</style>

  <h2>Register Account</h2>
  <div id ="Box">

    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}

  <form method="post" >
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Regiser Account</button>


  </form>
  </div>

{% endblock %}
