<style>

h1 {
  text-align: center;
  background-color: lightblue;
  font-family: arial;
  font-size: 50px;
}
h2{
  text-align: center;
  font-family: arial;
}
p{
  text-align: left;
  font-size: 18px;
  font-family:  arial;
  width: 50%;
  margin: 100px auto;
}
.sidebar{
  position: fixed;
  background-color: lightblue;
  top: 50px;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 600px;
}
.sidebar a{
  display: block;
  padding-bottom: 10px;
  background-color: lightblue;
  font-size: 24px;
  text-decoration: none;
  font-family: arial;
  color: black;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 4px;
}
.sidebar a:hover{
  background-color: grey;
  color: white;
}
</style>

<h1> Welcome To Smart City Brisbane </h1>
<p>
  Welcome to Smart City Brisbane !
  <br>
  <br>
  This website holds all the information you need whether you are visiting the city, conducting business or studying within the city.
  We have designed the smart city website to show information you need depending on what type of account you create. All information will provide contact information including a city map and pictures of the locations so you can easily find your destination. Please read below for more information on each account type.
  <br>
  <br>
  <u> <b>Tourist</b> </u>
  <br>
  If this is your first time visiting welcome to Brisbane !
  <br>
  There are many sights and attractions to see in Brisbane, And we have included all the information you need from hotels
  to restaraunts  located in the city.
  We have also included popular attractions such as zoos,malls and parks both in the city and around the area that you can choose to visit
  while staying in Brisbane.
  <br>
  <br>
  <u> <b>Business</b> </u>
  <br>
  A business account will provide you with the necessary tools to find hotels, companys and industrie buildings and their opening times aswell as contact information while also providing information about the city and
  local  restaraunts. Business accounts will also be be shown some attractions that they can visit while staying.
  <br>
  <br>
  <u><b>Student</b> </u>
  <br>
  Studying in Brisbane !
  <br>
  A Student account will provide you with colleges, librarys and city information. We have also included some attractions you can visit while studying in brisbane.
  <br>
  <br>
  If you have any questions or further querys please navigate to the help section of the website using the sidebar.
</p>

<ul class='sidebar'>
<h2> Content </h2>
<a href="/login"> Login </a>
<a href="/register"> Register Account </a>
<a href="/help/"> Help </a>
</ul>
